<div class="container mt-2 text-center">
    <div class="row">
        <div class="col-12">
            <!-- <input  #input type="text" name="search" id="search"> -->

            <!-- <button (click)="getInput(input.value)" class="btn btn-outline-primary mt-sm-2"> Search </button> -->
            <div class="form-group ml-2 d-flex">
                <label for="user"></label>
                <input #input type="text" class="form-control w-50" id="user" placeholder="Search User"
                    required="required">    

                <div class="selection ml-4 ">
                    <select name="option" class="custom-select" (change)="getOption($event)">
                        <option value="user" selected>User</option>
                        <option value="repository">Repository</option>
                    </select>
                </div>
                <div class="search ml-4">
                    <button (click)="getInput(input.value)" class="btn btn-success w-100" type="submit">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div *ngIf="chooseType; then user; else repository"></div>
<ng-template #user>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4 style="font-weight: bold; text-align: justify;" class="pt-4">USER</h4>
            </div>
            <div class="col-6">

                <div class="text-right" *ngIf="display">
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>

                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #repository>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4 style="font-weight: bold;" class="pt-4">Repository</h4>
            </div>
            <div class="col-6">
                <div class="text-right" *ngIf="display">
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<hr>
<div *ngIf="chooseType;then userBlock; else repositoryBlock"></div>
<ng-template #userBlock>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div
                    (click)="onSelect(user)"  *ngFor="let user of users | paginate: { itemsPerPage:5, currentPage: page,totalItems:totalRecords }">
                    <div class="media  border mb-4 p-2 shadow services " style="border-radius:20px">
                        <img class="align-self-center mr-4" src="{{user.avatar_url}}" alt="Generic placeholder image"
                            style="width:100px; border-radius: 50%;">
                        <div class="media-body">
                            <h5 class="mt-0 p-1 m-2"><a href="{{user.html_url}}"> {{user.login}}</a></h5>
                            <h5 class="mt-0 p-1 m-2"> {{user.id}}</h5>
                            <h6><a href="{{user.repos_url}}" class="p-1 m-2">Public Repository</a></h6>
                            <h5><button class="btn btn-primary p-1 m-2">More Info</button>
                            </h5>
                            <h5></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- <ng-template #repositoryBlock>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div
                    *ngFor="let user of users  | paginate: { itemsPerPage: 10, currentPage: page,totalItems:totalRecords } ">

                    <div class="media  border mb-4 p-2 shadow services " style="border-radius:20px">
                        <a href="{{user.html_url}}">
                            <img class="align-center mr-4" src="{{user.owner.avatar_url}}"
                            alt="Generic placeholder image" style="width:100px; border-radius: 50%;">
                        </a>
                        <div class="media-body">
                            <h5>Repository Results</h5>
                            <h5 class="mt-0 p-1 m-2"><span style="color: blue;">Name:</span> {{user.name}}</h5>
                            <h5 class="mt-0 p-1 m-2"> {{user.id}}</h5>
                            <h5 class="mt-0 p-1 m-2"> Private:{{user.private}}</h5>
                            <h6><a href="{{user.repos_url}}" class="p-1 m-2">Repositories</a></h6>
                            <h5><a href="{{user.html_url}}" class="btn btn-primary p-1 m-2">More Info</a></h5>
                            <h5></h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ng-template> -->
<ng-template #repositoryBlock>
    <div class="container">
        <div class="row">
            <div class="col-md-4"   (click)="onSelect2(user)"
                *ngFor="let user of users | paginate: { itemsPerPage: 3, currentPage: page,totalItems:totalRecords }">
                <div class="card shadow mb-4 services" style="width:auto;height: auto;">
                    <img class="card-img-top" src="{{user.owner.avatar_url}}" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title text-primary">{{user.name}}</h4>
                        <p class="card-text">{{user.id}}</p>
                        <p class="card-text">{{user.description}}</p>
                        <div class="d-flex">
                            <button type="button" class="btn btn-success mr-1">
                                Watchers <span class="badge badge-light">{{user.watchers}}</span>
                            </button>
                            <button type="button" class="btn btn-danger">
                                Issues <span class="badge badge-light">{{user.open_issues}}</span>
                            </button>
                        </div>
                        <h5><button routerLink="/reposdetails" class="btn btn-primary p-1 m-2">More Info</button></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-template>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-right" *ngIf="display">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>

            </div>
        </div>
    </div>
</div>